.div-page {
    min-height: 600px;
}

.active-page {
    border-left: #fff 1px solid;
    /*border-right: #fff 1px solid;*/
    border-bottom: #fff 1px solid;
    border-top: #fff 1px solid;
    box-sizing: content-box;
}

.underline-link:hover {
    background: #6c857d;
}

