.container-fluid {
    min-height: 700px;
    background: #161616;
    padding: 0;
}

.layout {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* -webkit-box-shadow: 0 0 0 30px #161616 inset !important; */
    /* -webkit-box-shadow: 0 0 0 30px #fff inset !important; */
    /* -webkit-text-fill-color: #000; */
}

input {
    outline: none!important;
    outline: 0!important;
    outline-offset: 0;
    box-shadow: none!important;
}

/*/////////////////////////////////////////////////..MENU..//////////////////////////////////////////////////////////*/

.navigation {
    background: #161616;
    box-shadow: 0 2px 10px -2px #fff;
    margin: 0;
}

.logo-img {
    width: 40px;
}

.profile-link {

}

.profile-img {
    width: 20px;
}

.login {
    font-size: 10px;
    width: 34px;
}

.loupe {
    width: 20px;
}

.new-message-icon::after {
    content: "";
    background: url("../img/menu/message.svg") no-repeat center;
    background-size: 72%;
    display: block;
    height: 15px;
    width: 15px;
    background-color: #F81242;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: -2px;
}

.nav-item .new-message-icon::after {
    top: 6px;
    right: 6px;
}

/*//////////////////////////////////////////////////////..LOGIN../////////////////////////////////////////////////////*/

.header {
    max-height: 100px;
    /* background: #b63363; */
    /* background: #faaa19; */
}

.form {
    width: 400px;
    padding: 28px 27px 14px;
    margin-top: 140px;
    margin-bottom: 140px;
    /* background: #b63363; */
    /* background: #faaa19; */
    /* color: #fff; */
}

.footer {
    height: 200px;
    background: #000;
}

@media screen and (max-width: 480px) {
    .form {
        width: 90%;
    }

    .header {
        max-height: 150px;
        width: 90%;
    }
}

/*//////////////////////////////////////////////////////..MESSENGER../////////////////////////////////////////////////////*/

.container-fluid__messenger {
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    margin-bottom: 0;
}

.messenger {
    width: 250px;
    height: 337px;
}

.messenger__header {
    height: 60px;
}

.manager-img {
    width: 46px;
}

.messages {
    height: 220px;
}

.message-wrap {
    min-height: 40px;
}

.send-message {
    min-height: 30px;
    max-width: 200px;
}

.receive-message {
    min-height: 30px;
    max-width: 200px;
}

.send-form {
    min-height: 36px;
    width: 220px;
    margin-top: 3px;
}

.paperclip-img {
    width: 16px;
}

.paperclip-img:hover {
    cursor: pointer;
}

.send-area {
    margin: 0 3px;
    resize: none;
    height: 26px;
}

.send-area:focus {
    outline: none;
}

.send-button {
    height: 26px;
}

.send-button:hover {
    background: transparent;
}

.send-button:focus {
    outline: none;
}

.messenger-faded {
    transition: all 150ms ease;
    height: 54px;
    width: 54px;
    border-radius: 50%;
}

.messenger-faded #messengerHeader {
    width: 54px;
    height: 54px;
    border-radius: 50% !important;
    background: #0b7cff !important;
    transition: all 150ms ease;
}

.messenger-faded #messengerHeader img {
    background: #fff;
}

.messenger-faded #messengerHeader div {
    display: none !important;
    transition: all 150ms ease;
}

.messenger-faded #messengerBody {
    height: 0;
    padding: 0 !important;
    transition: all 150ms ease;
}

.messenger-faded #messengerFooter {
    height: 0;
    width: 0;
    transition: all 150ms ease;
}

.messenger-faded #messengerFooter button {
    height: 0;
    width: 0;
    font-size: 0;
    opacity: 0;
    transition: all 150ms ease;
}

.messenger-faded #messengerFooter form {
    height: 0;
    width: 0;
    display: none !important;
    transition: all 150ms ease;
}

.messenger-faded #messengerFooter img {
    opacity: 0;
}

.messenger-faded.messenger-in {
    transition: all 150ms ease;
    border-radius: .3em;
    height: 337px;
    width: 250px;
}

.messenger-faded.messenger-in #messengerFooter {
    height: 57px;
    width: 100%;
    transition: all 150ms ease;
}

.messenger-faded.messenger-in #messengerFooter button {
    height: 26px;
    width: 51px;
    font-size: 16px;
    opacity: 1;
    transition: all 150ms ease;
}

.messenger-faded.messenger-in #messengerFooter form {
    display: flex !important;
    transition: all 150ms ease;
}

.messenger-faded.messenger-in #messengerFooter img {
    opacity: 1;
}

.messenger-faded.messenger-in #messengerBody {
    height: 220px;
    padding: .5rem !important;
    transition: all 150ms ease;
}

.messenger-faded.messenger-in #messengerHeader div {
    display: inline-block !important;
    transition: all 150ms ease;
}

.messenger-faded.messenger-in #messengerHeader {
    border-top-left-radius: .25em !important;
    border-top-right-radius: .25em !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    width: 100%;
    height: 60px;
    background: #6c757d !important;
    transition: all 150ms ease;
}

/*///////////////////////////////////////////////////..CREDIT CARD..//////////////////////////////////////////////////*/

.credit-card {
    width: 430px;
    height: 270px;
    border-radius: 16px;
    /* background: #faaa19; */
    background: url(../img/test/test.png) no-repeat top center;
    box-shadow: 0 0 10px rgba(255, 255, 255);
    border: 1px solid #fff;
}

.credit-card:hover {
    cursor: pointer;
}

.credit-card__number {
    top: 150px;
    left: 61px;
}

.credit-card__date {
    top: 160px;
    left: 230px;
}

.credit-card__name {
    top: 134px;
    left: 50px;
}

@media screen and (max-width: 960px) {
    .credit-card {
        width: 300px;
        height: 188px;
        font-size: 12px;
    }

    .credit-card__number {
        top: 99px;
        left: 36px;
        font-size: 22px;
    }

    .credit-card__name {
        top: 86px;
        left: 24px;
    }

    .credit-card__date {
        top: 104px;
        left: 188px;
        width: 38px;
    }
}



