.container-fluid {
    min-height: 1500px;
    background: #f0f0f0;
}

.layout {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

/*/////////////////////////////////////////////////..MENU..//////////////////////////////////////////////////////////*/

.logo-img {
    width: 40px;
}

.profile-link {

}

.profile-img {
    width: 20px;
}

.login {
    font-size: 10px;
    width: 34px;
}

.loupe {
    width: 20px;
}

/*//////////////////////////////////////////////////////..LOGIN../////////////////////////////////////////////////////*/

.form {
    width: 400px;
    padding: 28px 27px 14px;
}

/*//////////////////////////////////////////////////////..MESSENGER../////////////////////////////////////////////////////*/

.messenger {
    width: 250px;
    height: 337px;
}

.messenger__header {
    height: 60px;
}

.manager-img {
    width: 46px;
}

.messages {
    height: 220px;
}


.send-message {
    min-height: 30px;
}

.receive-message {
    min-height: 30px;
}








