.container-fluid {
    min-height: 1000px;
    background: #f0f0f0;
}

.layout {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

/*/////////////////////////////////////////////////..MENU..//////////////////////////////////////////////////////////*/

.logo-img {
    width: 40px;
}

.profile-link {

}

.profile-img {
    width: 20px;
}

.login {
    font-size: 10px;
    width: 34px;
}

.loupe {
    width: 20px;
}

/*//////////////////////////////////////////////////////..LOGIN../////////////////////////////////////////////////////*/

.form {
    width: 400px;
    padding: 28px 27px 14px;
}

/*//////////////////////////////////////////////////////..MESSENGER../////////////////////////////////////////////////////*/

.messenger {
    width: 250px;
    height: 337px;
}

.messenger__header {
    height: 60px;
}

.manager-img {
    width: 46px;
}

.messages {
    height: 220px;
}

.message-wrap {
    min-height: 40px;
}

.send-message {
    min-height: 30px;
    max-width: 200px;
}

.receive-message {
    min-height: 30px;
    max-width: 200px;
}

.send-form {
    min-height: 36px;
    width: 220px;
    margin-top: 3px;
}

.paperclip-img {
    width: 16px;
}

.paperclip-img:hover {
    cursor: pointer;
}

.send-area {
    margin: 0 3px;
    resize: none;
    height: 26px;
}

.send-area:focus {
    outline: none;
}

.send-button {
    height: 26px;
}

.send-button:hover {
    background: transparent;
}

.send-button:focus {
    outline: none;
}

/*///////////////////////////////////////////////////..CREDIT CARD..//////////////////////////////////////////////////*/

.credit-card {
    width: 430px;
    height: 270px;
    border-radius: 16px;
}

.credit-card:hover {
    cursor: pointer;
}

.credit-card__number {
    top: 150px;
    left: 61px;
}

.credit-card__date {
    top: 160px;
    left: 230px;
}

.credit-card__name {
    top: 134px;
    left: 50px;
}





